/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.container {
    margin-top:50px;
}


// admin
.order_count {
    font-size:25px;
}
.count {
    text-decoration: underline;
    text-decoration-color: black;
    
}

.pagination {
    justify-content: center;
}

.my-example {
    color:greenyellow;
}

.icon {
    text-align: right;
}

h2 {
    margin-bottom: 20px;
}

.admin_item_to_edit {
    margin-top: 30px;
    justify-content: right;

}

.is_deleted {
    border: black solid 1px;
    background-color: skyblue;
    border-radius: 3px;
}

.alert {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
  }

.alert > ul {
    list-style: none;
}


// error
.field_with_errors {
    display: contents;
    // もしくは diplay: inline;
    input {
        @extend .is-invalid;
      }
  }

